.roots {
  --vhbub: 55vh;
  --vwbub: 76vw;
  --bsinset: 4px;
  --bsinsetmin: -4px;
  --tablecol: #3c3cff;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
.scree {
  margin-top: 10px;
  border-radius: 1px;
  border: 1px solid var(--tablecol);
  box-shadow: 0px 0px 20px 10px #3c3cff;
}
.gamerectangle {
  background-color: rgb(26, 26, 26);
  border-collapse: collapse;
  width: 310px;
  height: 620px;
}
td {
  margin: auto;

  border: 1.5px solid rgb(68, 68, 68);
}

.inn {
  width: 25px;
  height: 25px;
  margin: auto;
  border-radius: 3px;
  /* border: ; */
}
.leftside {
  display: flex;
  height: 100%;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightside {
  width: 400px;
}
.restart {
  padding: 10px 20px;
  font-family: "Lilita One";
  /* position: fixed; */
  font-size: 30px;
  background-color: transparent;
  border: 2px solid;
  border-color: #00ffff #04ff00 #0051ff #d400ff;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, border-radius 0.2s ease, color 0.2s ease,
    border-shadow 0.2s ease, border-style 0.2s ease;
  /* transition: border-radius 0.3s ease; */
}

/* Add the hover effect */
.restart:hover {
  transform: scale(1.3) rotate(2deg); /* Increase the size on hover */
  border-radius: 30px;
  /* box-shadow: 2px 0px 2px #04ff00, -2px 0px 2px #d400ff, 0px 2px 2px #0051ff,
    0px -2px 2px #00ffff; */
  /* border-style: dashed; */
  animation: btn-animation 0.4s linear infinite;
  color: #00ddff;
}
@keyframes btn-animation {
  0% {
    border-color: #00ffff #04ff00 #0051ff #d400ff;
  }

  25% {
    border-color: #d400ff #00ffff #04ff00 #0051ff;
  }
  50% {
    border-color: #0051ff #d400ff #00ffff #04ff00;
  }
  75% {
    border-color: #04ff00 #0051ff #d400ff #00ffff;
  }
  100% {
    border-color: #00ffff #04ff00 #0051ff #d400ff;
  }
}

.scorebox {
  width: 100%;
  height: 100%;
  font-family: "Monoton";
  display: flex;
  justify-content: space-between;
}
.score {
  text-orientation: sideways;
  font-size: 40px;
  color: #00ddff;
  margin-right: 70px;
}
.scores {
  /* font-family: "Press Start 2P"; */
  /* text-align: right; */
  width: 100%;
  font-size: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #00ddff;
}
/* .scores: ; */
.score-animation-class {
  transform-origin: center center;
  animation: score-animation 0.4s forwards;
}

.burst-animation-class {
  transform-origin: center center;
  animation: burst-animation 0.1s ease-out forwards;
}

@keyframes burst-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes score-animation {
  0% {
    transform: scale(1);
    text-shadow: none;
  }

  20% {
    text-shadow: 0px 5px 5px #0051ff, 0px -5px 5px #00ffff;
    transform: scale(1.2);
  }
  100% {
    text-shadow: none;
    transform: scale(1);
  }
}

.tetristext {
  position: absolute;
  margin-bottom: 400px;
  margin-left: 40px;
  font-family: "Press Start 2P";
  color: #00ddff;
  font-size: 60px;
}

.speedup {
  font-family: "Shrikhand";
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 100px;
  /* align-self: center; */
  color: transparent;
  transition: transform 0.5s ease-out, opacity 2s ease-in;
}

.speedupanim {
  /* animation: speed_up 0.2 forwards; */
  opacity: 0%;
  color: #1a1a1a;
  text-shadow: 0px 0px 10px #f700ff;
  transform: translate(-50%, -50%) scale(3);
}

/* app.component.css or your component's CSS file */

.font-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the value as needed to control the spacing between the elements */
}

.font-examples h1 {
  margin: 10px; /* You can adjust the margin to control spacing within each h1 element */
  padding: 10px; /* You can adjust the padding to control spacing within each h1 element */
}

.lilita-one {
  font-family: "Lilita One", sans-serif;
  color: cyan;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  color: cyan;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  color: cyan;
}

.monoton {
  font-family: "Monoton", sans-serif;
  color: cyan;
}

.orange-juice {
  font-family: "Orange Juice", sans-serif;
  color: cyan;
}

.pinyon-script {
  font-family: "Pinyon Script", sans-serif;
  color: cyan;
}

.press-start-2p {
  font-family: "Press Start 2P", sans-serif;
  color: cyan;
}

.shrikhand {
  font-family: "Shrikhand", sans-serif;
  color: cyan;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  color: cyan;
}

.backgroundcircles {
  position: fixed;
  width: 300px;
  height: 300px;
  z-index: -10;
  top: 0%;
  left: 0%;
  background-image: #fff;
  content: "";
  /* border: 30px solid #f700ff; */
  border-radius: 50%;
  filter: blur(170px);
}
#circ1 {
  background-color: #f700ff;
}
#circ2 {
  background-color: #00ff15;
}
#circ3 {
  background-color: #00bfff;
}
#circ4 {
  background-color: #d0ff00;
}
.float1 {
  animation: 20s linear float1;
}
.float2 {
  animation: 20s linear float2;
}
.float3 {
  animation: 20s linear float3;
}
.float4 {
  animation: 20s linear float4;
}
@keyframes float1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--vwbub), 0);
  }
}

@keyframes float2 {
  0% {
    transform: translate(var(--vwbub), 0);
  }
  100% {
    transform: translate(var(--vwbub), var(--vhbub));
  }
}

@keyframes float3 {
  0% {
    transform: translate(var(--vwbub), var(--vhbub));
  }
  100% {
    transform: translate(0, var(--vhbub));
  }
}

@keyframes float4 {
  0% {
    transform: translate(0, var(--vhbub));
  }
  100% {
    transform: translate(0, 0);
  }
}

.tet {
  /* text-shadow: 0px 0px 15px #ff0000; */
}
