.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scree {
  border-radius: 5px;
  border: 5px solid #1a7900;
  padding: 0;
}
.gamerectangle {
  background-color: #1a1a1a;
  border-collapse: collapse;
  height: 100%;
}
td {
  border: none;
  width: 22px;
  height: 22px;
  padding: 0;
}
.inn {
  margin: 0;
  width: 22px;
  height: 22px;
  border: none;
}
.scores {
  width: 80px;
  text-align: right;
  font-size: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #00ddff;
}
