/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;
}
::-webkit-scrollbar {
  width: 0;
}

.displaynone {
  display: none;
}

body {
  margin: 0;
}

/* src/assets/LilitaOne-Regular.ttf */
@font-face {
  font-family: "LilitaOne";
  src: url("../assets/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/AmaticSC-Bold.ttf */
@font-face {
  font-family: "Amatic SC";
  src: url("../assets/AmaticSC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* src/assets/AmaticSC-Regular.ttf */
@font-face {
  font-family: "Amatic SC";
  src: url("../assets/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/Monoton-Regular.ttf */
@font-face {
  font-family: "Monoton";
  src: url("../assets/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/orange juice 2.0.ttf */
@font-face {
  font-family: "Orange Juice";
  src: url("../assets/orange juice 2.0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/PinyonScript-Regular.ttf */
@font-face {
  font-family: "Pinyon Script";
  src: url("../assets/PinyonScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/PressStart2P-Regular.ttf */
@font-face {
  font-family: "Press Start 2P";
  src: url("../assets/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/Shrikhand-Regular.ttf */
@font-face {
  font-family: "Shrikhand";
  src: url("../assets/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* src/assets/Ubuntu-Regular.ttf */
@font-face {
  font-family: "Ubuntu";
  src: url("../assets/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aladin";
  src: url("../assets/Wierd_fonts/Aladin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Annie Use Your Telescope";
  src: url("../assets/Wierd_fonts/AnnieUseYourTelescope-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Berkshire Swash";
  src: url("../assets/Wierd_fonts/BerkshireSwash-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Black Ops One";
  src: url("../assets/Wierd_fonts/BlackOpsOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cabin Sketch";
  src: url("../assets/Wierd_fonts/CabinSketch-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cabin Sketch";
  src: url("../assets/Wierd_fonts/CabinSketch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Creepster";
  src: url("../assets/Wierd_fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fredericka the Great";
  src: url("../assets/Wierd_fonts/FrederickatheGreat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Henny Penny";
  src: url("../assets/Wierd_fonts/HennyPenny-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Homemade Apple";
  src: url("../assets/Wierd_fonts/HomemadeApple-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Irish Grover";
  src: url("../assets/Wierd_fonts/IrishGrover-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre Barcode 39";
  src: url("../assets/Wierd_fonts/LibreBarcode39-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Love Ya Like A Sister";
  src: url("../assets/Wierd_fonts/LoveYaLikeASister-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nosifer";
  src: url("../assets/Wierd_fonts/Nosifer-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Color Emoji";
  src: url("../assets/Wierd_fonts/NotoColorEmoji-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Music";
  src: url("../assets/Wierd_fonts/NotoMusic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans SignWriting";
  src: url("../assets/Wierd_fonts/NotoSansSignWriting-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans Symbols 2";
  src: url("../assets/Wierd_fonts/NotoSansSymbols2-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Reenie Beanie";
  src: url("../assets/Wierd_fonts/ReenieBeanie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Moonrocks";
  src: url("../assets/Wierd_fonts/RubikMoonrocks-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik Pixels";
  src: url("../assets/Wierd_fonts/RubikPixels-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sedgwick Ave";
  src: url("../assets/Wierd_fonts/SedgwickAve-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Special Elite";
  src: url("../assets/Wierd_fonts/SpecialElite-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CocomatUltralight";
  src: url("../assets/CocomatUltralight-3ngp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockybilly";
  src: url("../assets/Rockybilly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allagia";
  src: url("../assets/AllagiaDemo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spider_r";
  src: url("../assets/Spider_r.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Spider_s";
  src: url("../assets/Spider_s.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
